:root {
    --global-font-size: 16px; // ? browser default

    --color-primary: #414f6b;
    --color-primary-rgb: 65, 79, 107;
    --color-black: #000000;
    --color-black-rgb: 0, 8, 20;
    --color-grey: #b0b4be;
    --color-white: #fefeff;
    --color-white-rgb: 254, 254, 255;
}